{% extends 'base.html' %}

{%block body%}
<div class="container">
    <h1>Register</h1>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Register</button>
</form>

</div>

{%endblock%}